# Problem Set Unsupervised Learning

## Requirements


>Geospatial Analytics is a domain heavily used in corporate and business data science. It's used for demand-forecasting, real-estate prediction, population estimation, and optimal route planning..

Using the lessons on DBSCAN, and the other resource notebooks, show the following in this Jupyter Notebook.

Write your answers down as Markdown cells or comments in the code. Run everything on your own geospatial dataset, and answer the same questions listed above.
Use this: https://developer.foursquare.com/docs/resources/categories

1. What are the top 3 most common brands of your category?( 1pt )

2. What is the latitude variance and longitude variance, and explain why these variances are different. ( 3pts )

3. Explain what KMeans inertia is and how different it is from DBSCAN epsilon. ( 4pts )

4. Cluster the locations data with DBSCAN. ( 5pts )

5. Present an analysis of the data following the DBSCAN results. ( 7pts )
 - explain what the clusters mean
 - what does the # of clusters tell us
 - what is this information useful for

# conda install -c conda-forge folium

In [1]:
import numpy as np
from sklearn.cluster import KMeans
import folium
from folium import plugins
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Make the graphs a bit prettier, and bigger
# pd.set_option('display.mpl_style', 'default')
plt.style.use('ggplot')

# This is necessary to show lots of columns in pandas 0.12. 
# Not necessary in pandas 0.13.
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

plt.rcParams['figure.figsize'] = (15, 5)

In [3]:
import pandas as pd
import foursquare

places = ["14.73371, 121.06813", "14.73554, 121.01268", "14.72026, 120.96342", \
          "14.6922, 121.06212", "14.69037, 121.01732", "14.68954, 120.97063", \
          "14.65517, 121.05182", "14.65866, 121.01028", "14.64703, 120.9708", \
          "14.6364, 121.07414", "14.64819, 121.1174", "14.62361, 121.03998", \
          "14.61049, 120.9914", "14.60949, 121.10658", "14.60152, 121.05165", \
          "14.56946, 121.09491", "14.5776, 121.05972", "14.5771, 121.02865", \
          "14.5565, 121.02092", "14.55583, 121.02607", "14.55583, 121.02607", \
          "14.55002, 121.06126", "14.55002, 121.04581", "14.5241, 121.02127", \
          "14.47723, 121.02521", "14.44631, 121.00221", "14.40209, 121.02779",
          "14.40209, 121.02779", "14.60974, 121.08002", "14.64969, 121.0747"]
topics = ["fast food", "fastfood", "mcdo", "burger", "pizza", "chicken", "jollibee", "inasal"]

In [4]:
# Construct the client object
client = foursquare.Foursquare(client_id='LK0U2PMB3ZFV3DH03TKBF2H04KUBRHFOZOZNHP5NWOESAALM', 
                               client_secret='PKNTSEUE5L4T533TSRI4JTNND3KQTOLGJAZVTTFT5EU3HCU4', 
                               redirect_uri='http://fondu.com/oauth/authorize')

# Build the authorization url for your app
auth_uri = client.oauth.auth_url()

In [6]:
len(response)

240

In [13]:
len(response[0]["venues"])

23

In [8]:
data_list = []
for x in range(len(response)):
    try:
        for i in range(len(response[x]["venues"])):
            poi_id =  response[x]["venues"][i]["id"]
            poi_name =  response[x]["venues"][i]["name"]
            poi_lat =  response[x]["venues"][i]["location"]["lat"]
            poi_lng =  response[x]["venues"][i]["location"]["lng"]
            data_list.append([poi_id, poi_name, poi_lat, poi_lng])
    except KeyError:
        pass

df = pd.DataFrame(data_list, columns=["id", "name", "lat", "lng"])
df = df.drop_duplicates()
df["name"] = df['name'].str.lower()

In [9]:
df

                            id                                name        lat         lng
0     53a29eff498e6bc264a2f746                    zeny's fast food  14.737028  121.051134
1     4d294f6c888af04da15eceaf  bodhi vegetarian health food house  14.733963  121.060023
2     5b231c1dfe63bd002c2ea6a6                    limbooz food hub  14.735246  121.067870
3     4d29305d068e8cfaabc7cd4c                        sm foodcourt  14.734557  121.059250
4     58dfc03b076be155f2ac96e4                   rooftop food park  14.730262  121.060988
...                        ...                                 ...        ...         ...
4349  52e45d7f498e24cdbaf9083b                            jollibee  14.665184  121.068005
4350  52e8539c498ee17e3ca49919                            jollibee  14.666467  121.070306
4352  5513acbb498e498a5fc3ebb1                            jollibee  14.663453  121.073642
4355  59569c4435d3fc2b1f45a90a                jollibee tierra pura  14.664392  121.067870
4356  52992e4d498ede5cd8a8b399                            jollibee  14.665309  121.067389

[3397 rows x 4 columns]

In [2]:
# SAMPLE ONLY: This assigns the coffeeshops data to a dataframe object that maps to the "df" variable
df = pd.read_csv("data/coffeeshops.csv")
df = df.drop_duplicates()